body,html {
    margin:0;
    padding:0;
    height:100%;
    font-family: 'Segoe UI', sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url('../images/Earf.gif');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.background {
    /* Container div - background now on body */
    min-height: 100vh;
    position: relative;
    display: flex;
}

.tagline {
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.75);
    margin-top: 0px;
    font-style: italic;
    text-align: center;
    max-width: 300px;
    animation: fadeIn 1s ease-in-out;
    font-family: gotchix, sans-serif;
    opacity: 0.5;
}

.overlay {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    padding: 40px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.logo img {
    width: 325px;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 15px; 

}

.logo h1 {
    font-size: 3em;
    color: rgba(255, 255, 255, 0.85);
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    margin: 0;
    letter-spacing: 2px;
    font-family: poppins, sans-serif;
    opacity: 0.5;
}


.buttons {
    display: flex;
    flex-direction: column;
    align-items:center;
    
}
.button {
    width: 200px;
    padding: 12px;
    margin: 10px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    transform-origin: center;
    will-change: transform, box-shadow;

}

a {
    text-decoration: none;
    color: inherit;
}

.button:hover {
    transform: scale(1.05);
    opacity: 0.9;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.899);

}

.button.login {
    background-color: #007BFF;
    color: white;
    border: 2px solid #007BFF;
    border-radius: 10px;
}

.button.signup {
    background-color: rgba(255, 255, 255, 0.85);
    color: black;
    border: none;
    border-radius: 10px;
}